.uploadModal {
    box-shadow: 0 10px 20px rgba(0.19, 0.19, 0.19, 0.19), 0 6px 6px rgba(0.15, 0.15, 0.15, 0.15);
    width: 50%;
    border-radius: 8px;
    border: 1px solid rgb(188, 185, 185);
  }
  
  .assetBox{
    border: 1px solid;
    width: 200px;
  }

  .assetWrap{
    border-right: 2px solid;
    border-bottom: 2px solid;
    height: 550px;
    overflow-y: auto;
    text-align: center;
  }

  .exportWrapper{
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 550px;
  }
